html, body {
  height: 90%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

canvas {
  display: block;
  border: 10px dotted white;
  padding: 10px;
}
